$ItemBackgroundGray: #e5e5e5;
$ItemBorderGray: 1px solid #8d99ae;
$ItemHoverGray: lightgray;

$SecondaryItemBackgroundGray: #e5e5e5;
$SecondaryItemBorderGray: 1px solid #8d99ae;

$ListItemBoxShadow: 1px 1px 3px gray;
